body {
    font-family: sans-serif;
    
}
header{
    background-color: mediumblue;
}
nav{
    background-color: aqua;
    border: 2px solid mediumblue;
    text-align: center;

}
header,nav{
    border-radius: 4px;
    padding: 3px;
    margin: 1px;
    
}
h1{
    text-align: center;
    border-radius: 5px;
    background-color: aqua;
    padding: 3px;
}
footer{
    background-color: mediumblue;
    padding: 5px;
    border-radius: 3px;
}
footer p{
    background-color: aqua;
    border-radius: 3px;
    padding: 2px;
}
main p{
    border: 3px solid mediumblue;
    border-radius: 6px;
    padding: 4px;
    background-color: aqua;

}
main h1{
    text-align: center;
    color: blue;
    font-size: 50px;
}
main h2{
    text-align: center;
    color: blue;
    font-size: 35px;
   
}
main a{
    border: 2px solid mediumblue;
    background-color: white;
    margin: 10px;
    border-radius: 3px;
    padding: 2px;
}
.main_img{
    widht: 1400px;
}
